/* loan type list */
.loan-types-list {
	overflow: hidden;
	font-size: 0;
	text-align-last: justify;
	text-align: justify;
	display: flex;
	justify-content: space-between;
}


.type__item {
	margin-right: 4px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	-ms-text-align-last: center;
	text-align-last: center;
}

.type__item:last-child {
	margin-right: 0;
}

.loan-type__label {
	display: block;
	position: relative;
	width: 54px;
	padding: 7px 0;
	border: 1px solid #e1dede;
	border-radius: 16px;
	background-color: #e8f8f5;
	text-align: center;
	font-size: 14px;
	color: #47b6ac;
	cursor: pointer;
}

.loan-type_active .loan-type__label {
  border: 1px solid transparent;
}

.single-gradient.loan-type__label {
	background-color: #e8f8f5;
}

.loan-type__label:active,
.loan-type__label:active:after {
	box-shadow: inset 0 4px 4px rgba(13, 15, 19, 0.27);
}

.loan-type__label:after {
	border-radius: 18px;
}

.no-touch .loan-type__label:hover {
	border-color: #47b6ac;
	cursor: pointer;
}

.loan-type__label .icon {
	margin: 0 auto;
}

.loan-type_active .loan-type__description {
	color: #f57745;
}

.loan-type__description {
	margin: 7px 0 0 0;
	padding: 0;
	text-align: center;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 400;
	cursor: pointer;
	line-height: 1;
  color: #777;
	transition: color 0.22s linear;
}

.loan-type-input:checked + .loan-type-label {
	box-shadow: inset 0 4px 4px rgba(13, 15, 19, 0.27);
	cursor: pointer;
}

.loan-type_disabled .loan-type__label {
	background-color: #f6f4f4;
	cursor: default;
	border: 1px solid #e1dede;
	box-shadow: none;
  color: #777;
}

.no-touch .loan-type_disabled .loan-type__label:hover,
.loan-type_disabled .loan-type__label:hover,
.no-touch .loan-type_disabled .loan-type__label .icon:hover,
.loan-type_disabled .loan-type__label .icon:hover {
  cursor: default;
}

.loan-type_disabled .loan-type__description {
  cursor: default;
}

.loan-type_disabled .loan-type__label:hover {
  border: 1px solid #e1dede;
}